.table {
  border-collapse: collapse;

  .thead {
    .tr {
      .cell {
        background: #F9FAFB;
      }
    }
  }

  .thead,
  .tbody
  {
    .tr {
      .cell {
        padding: 15px 20px 15px;
      }
    }
  }

  .tbody {
    .tr + .tr {
        border-top: #E9EFF6 solid 1px;
    }
  }
}